@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


*{
    font-family: "Poppins", sans-serif;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
}


body {
  font-family: sans-serif;
  background: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input, select, button {
  padding: 10px;
  font-size: 1rem;
}
