@import "tailwindcss";

body {
  font-family: sans-serif;
  background: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input, select, button {
  padding: 10px;
  font-size: 1rem;
}
